.rank{
	width:1050px;
	margin:0 auto;
	}
.rank table img{
	width:15px;
	height:15px
	}
.star-img{
	width:15px;
	height:15px
	}
.field-search{
	font-size:1.6rem;
	float:right;
	margin:0 0px 10px 0;
	}
.rankT {
    border-collapse: collapse;
    width:100%;
    margin:0 0 20px 0;
    font-size:1.5rem;
    }