<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>pro1</display-name>
  <welcome-file-list>
    <welcome-file>main.html</welcome-file>
    <welcome-file>main.htm</welcome-file>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>jdbc.DBCPInitListener</listener-class>
  </listener>
  <context-param>
    <param-name>poolConfig</param-name>
    <param-value>
	  	jdbcdriver=com.mysql.jdbc.Driver
	  	jdbcUrl=jdbc:mysql://127.0.0.1:3306/project?characterEncoding=utf8&amp;serverTimezone=UTC
	  	dbUser=root
	  	dbPass=1234
		validationQuery=select 1
		minIdel=3
		maxTotal=30
		poolName=kospiece
  	</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>util.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>ControllerUsingURI</servlet-name>
    <servlet-class>controller.ControllerUsingURI</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/commandHandlerURI.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerUsingURI</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>admin.listener.SessionListener</listener-class>
  </listener>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/header.jspf</include-prelude>
      <include-coda>/footer.jspf</include-coda>
    </jsp-property-group>
  </jsp-config>
</web-app>